# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

# ======================
# IDEs
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Models & Data (Heavy)
# ======================
models/
weights/
*.pt
*.onnx

# ======================
# Images / Videos
# ======================
images/
videos/

# ======================
# Cache
# ======================
.cache/
